<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<table>
    <tr>
        <td>
            <div align="center">
                <table style="font-size:12px;font-family:arial,verdana;line-height:15px; sans-serif; margin:0 auto; border-right:solid 1px #CCCCCC; border-left:solid 1px #CCCCCC; padding:0 20px;">
                    <tr>
                        <td><table >
                            <tr>
                                <td><p><img src="http://www.miamidade.gov/unitedway/2015/images/live-united-horizontal-banner.jpg" alt="" width="1000"/></p></td>
                            </tr>
                            <tr>
                                <td><br/>

                                    <div align="center"> <span style="font-size:14px;font-family:arial;text-align:center;"><b>Thank you, <span th:text="${name}"/></b><br/><br/></span></div>

<span style="font-size:14px;font-family:arial;">Thank you for your donation. Your generosity will help improve the education of your children, the financial stability of our families and the health of our neighbors.<br/><br/>

<b>You are helping to build a stronger community...for us all.</b><br/>
<br/>
Your <b><span th:text="${type}"/></b> contribution of <b><span th:text="${dollarsign}"/> <span th:text="${donation}"/><span th:text="${percentsign}"/></b> is greatly appreciated.<br/>
<br/>
Please print this email for your records.<br/><br/>Learn more at <a href="www.unitedwaymiami.org">www.unitedwaymiami.org.</a> Thanks again!<br/><br/><br/><br/>
            </span>
                                </td>
                            </tr>

                        </table>
                        </td>
                    </tr>
                </table>
            </div></td>
    </tr>
</table>



</body>

</html>
