<div class="copy row">
        <div >
          <img src="images/live-united-horizontal-banner.jpg" width="1170" height="250" alt="Give, advocate, volunteer. Live United" class="img-responsive"/>
        </div>
      <div class="hidden-sm hidden-xs col-md-4 vertical-banner">
    &nbsp;
      </div>
      <div class="col-sm-12">


            <form name="unitedway_form" method="put" action="http://www.miamidade.gov/info/process_donation.asp" id="form-sign-up" >

            <div class="top"></div>

            <h2>Contribution Information</h2>

            <input name="employeename" type="hidden" id="employeename" value="" />

            <input name="employeelastname" type="hidden" id="employeelastname" value="" />

            <input name="employeeid" value="" type="hidden"/>

            <input name="groupid" value="unitedway" type="hidden" />

            <input type="hidden" name="employeedept"  value="" id="employeedept" />

            <p>
              <label for="email"><strong>Employee Name: </label> &nbsp;</strong>
              {{employee.firstName}} {{employee.lastName}}
            </p>

            <p><label for="email"><strong>Employee ID: </label></strong> {{eid}}<strong> <label>DDL: </label></strong> {{employee.department}}</p>


            <div class="row">
            <div class="col-md-6">


            <label for="email">Email Address: </label>
            <div class="input-group"
            ng-class="{'has-error': unitedway_form.email.$invalid && unitedway_form.email.$touched}">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                <input class="form-control col-md-4" name="email"  type="email" id="email"
                class="form-control"
                placeholder="Email"
                ng-model="obj.email"
                ng-minlength="13"
                required
                />
            </div>
            <div class="help-block" ng-messages="unitedway_form.email.$error" ng-if="unitedway_form.email.$touched">
              <div ng-messages-include="views/messages.html"></div>
            </div>
            </div>

            </div>

            <div class="row">
            <div class="col-md-9">
            <p>Please review the full form before completing. If you would like your giving levels to remain<br>the same, it is not necessary to submit a contribution form. Only your bi-weekly <br>deduction giving level will  automatically roll forward, one-time donations will not. </p>

            <p>If you would like to make an adjustment to your contribution, please select an option and fill out the box below.<br>

            </p>

            </div>
            </div>


            <!-- TODO: Create dropdown to select one of the following: -->

            <div class="row">
            <div class="col-md-6">
            <div class="form-group">

              <div class="row">
              <div class="col-md-8">
              <select class="form-control" id="adjustContibution" ng-model="donationFrequency" type="select" ng-change="resetDeduction()">
                <option value="reset" ng-selected="reset">Change Type</option>
                <option value="biweekly" ng-selected="biweekly">Bi-Weekly Deduction</option>
                <option value="onetime" ng-selected="onetime">One Time Deduction</option>
              </select>
              </div>
              </div>
            </div>

            <div class="row" ng-show="donationFrequency == 'biweekly'">
            <div class="col-md-8">
            <div class="form-group">
            <label for="biweekly">My bi-weekly deduction:</label>
              <div class="input-group" ng-class="{'has-error': unitedway_form.biweekly.$invalid && unitedway_form.biweekly.$touched}">
                <span class="input-group-addon">$</span>
                <input id="biweekly" name="biweekly" type="text"
                class="form-control"
                placeholder="US Dollars"
                ng-model="obj.biweeklyDeduction"
                ng-required="deductionType == 'biweekly'"
                />
              </div>
              <div class="help-block" ng-messages="unitedway_form.biweekly.$error" ng-if="unitedway_form.biweekly.$touched">
                <div ng-messages-include="views/messages.html"></div>
              </div>
            </div>
          </div>
        </div>
                <!-- <span class="input-group-addon">.00</span> -->
            </div>
            </div>


            <div class="row" ng-show="donationFrequency == 'onetime'">
            <div class="col-md-4">
            <div class="form-group">
            <label for="onetime">My one-time donation:</label>
            <div class="input-group" ng-class="{'has-error': unitedway_form.onetime.$invalid && unitedway_form.onetime.$touched}">
                <span class="input-group-addon">$</span>
                <input name="onetime" size="5" type="text" id="onetime"
                class="form-control"
                placeholder="US Dollars"
                ng-model="obj.oneTimeDeduction"
                ng-required="deductionType == 'onetime'"
                >
                <!-- <span class="input-group-addon">.00</span> -->
            </div>

              <div class="help-block" ng-messages="unitedway_form.onetime.$error" ng-if="unitedway_form.onetime.$touched">
                <div ng-messages-include="views/messages.html"></div>
              </div>
            </div>
            </div>
            </div>

              <div 
              class="form-group" 
              ng-required="obj.deductionType"
              >
                  <input 
                  type="radio" 
                  name="donationtype" 
                  ng-model="obj.deductionType" 
                  id="payroll" 
                  value="Payroll"
                  ng-disabled="donationFrequency == 'reset'"/>

                  <label for="payroll">Payroll Deduction</label> <br/>

                  <input 
                  type="radio" 
                  name="donationtype" 
                  ng-model="obj.deductionType" 
                  id="cash" 
                  value="Cash"
                  ng-disabled="donationFrequency == 'reset'"/>

                  <label for="cash">Cash*</label><br>

                  <input 
                  type="radio" 
                  name="donationtype" 
                  ng-model="obj.deductionType" 
                  id="check" 
                  value="Check"
                  ng-disabled="donationFrequency == 'reset'" />

                  <label for="check">Check*</label><br>

                  <input 
                  type="radio" 
                  name="donationtype" 
                  ng-model="obj.deductionType" 
                  id="credit" 
                  value="Credit" 
                  ng-disabled="donationFrequency == 'reset'"/>

                  <label for="credit">Credit**</label><br>

                  <input 
                  type="radio" 
                  name="donationtype" 
                  ng-model="obj.deductionType" 
                  id="debit" 
                  value="Debit" 
                  ng-disabled="donationFrequency == 'reset'"/>

                  <label for="debit">Debit**</label>
                </div>
    <div class="row">
    <div class="col-md-12">
    
                   <p class="small">
                   <em><strong>* If you are choosing to

        contribute a one-time gift by cash or check, payment must be

        submitted

        to the </strong></em><strong ><em> <a href="https://www.miamidade.gov/unitedway/coordinators.asp" target="_new">department coordinator</a>.</em></strong>

                <em><strong>after the online form is

        submitted<br>

        <br>

        ** If you are choosing to contribute a one-time gift by credit

        or debit, the United Way will be contacting you directly to

        process your one-time gift via credit/debit card after the

        online form is submitted</strong></em>
        </p>
      </div>
    </div>

<hr>







     <!-- excellence club deleted -->
 <div class="row">
<div class="col-sm-12">

            <h2>Leadership Circle</h2>

            <input name="countyleader"  type="checkbox" id="countyleader"
            ng-checked="leadershipCircleFlag"
            ng-model="leadershipCircleFlag" 
            ng-change="toggleLeadershipCircle()"
            /> 
  
            <label for="countyleader">I'd like to join the County Leadership Circle</label>

            <p>Individuals who make a United Way gift of $1,000 or more a year are considered<br>

              County Leadership Circle members and are invited to special events in recognition of<br>

              their dedication to helping others. When you become a member of the County<br>

              Leadership Circle, you also become a member of the United Way of<br>

              Miami-Dade Leadership &amp; Endowment Circle.<br></p>

            <div class="row" ng-class="{'showError': leadershipCircleFlag}">
            <div class="col-md-6">
            <div class="form-group">
            <label for="totaldonation" ng-class="{'required': leadershipCircleFlag}" >Your total annual donation is:</label>
            <div class="input-group"
            ng-class="{'has-error': unitedway_form.totaldonation.$invalid && unitedway_form.totaldonation.$touched}">

                <span class="input-group-addon">$</span>
                <input name="totaldonation" type="text"
                 id="totaldonation"
                 class="form-control"
                 placeholder="US Dollars"
                 ng-model="obj.donationAmount"
                 ng-required="leadershipCircleFlag"
                 ng-disabled="!leadershipCircleFlag"
                 >
                <!-- <span class="input-group-addon">.00</span> -->
            </div>

              <div class="help-block" ng-messages="unitedway_form.totaldonation.$error" ng-show="unitedway_form.totaldonation.$touched">
                <div ng-messages-include="views/messages.html"></div>
              </div>

            </div>
            </div>

            </div>

           <div class="small">

            <p>If you are 40 years old or younger and give at the Leadership level,
you will be considered a Young Leader, a United Way recognition group offering networking, volunteer and leadership development opportunities.</p>


            <p> If you are a woman and give at the Leadership level, you will be considered a Women's Leader, a United Way recognition group offering opportunities for networking, intergenerational volunteerism and more.</p>

          </div>

<hr>
<h4>Family Gift</h4>

 <input 
  name="familyflag" 
  id="familyflag" 
  type="checkbox" 
  ng-model="familyGiftFlag" 
  ng-change = "toggleFamilyGift()"
  /> 
 <label for="familyflag">We'd like to make a donation as a family.</label>
<p>
 If your gift above, combined with the gift of your spouse/parther, totals at least $1000 per year, you will be considered a member of the County Leadership Circle.</p>

            <div class="row">
            <div class="col-md-12">
              <div class="row">
              <div class="col-md-10"
              ng-class="{'has-error': unitedway_form.spouse.$invalid && unitedway_form.spouse.$touched}">
                <label for="spouse" ng-class="{'required': familyGiftFlag}"><strong>Spouse/Partner Name:</strong></label>
                <input
                  class="form-control"
                  name="spouse"
                  type="text"
                  id="spouse"
                  ng-model="obj.spouse"
                  ng-required="familyGiftFlag"
                  ng-disabled="!familyGiftFlag"
                  />
              </div>
              </div>

              <div class="help-block" ng-messages="unitedway_form.spouse.$error" ng-show="unitedway_form.spouse.$touched">
                <div ng-messages-include="views/messages.html"></div>
              </div>
                        <br/>
              <div class="row">
              <div class="col-md-5">
               <label for="employer" ng-class="{'required': familyGiftFlag}"><strong>Employer:</strong></label>
              <div
               ng-class="{'has-error': unitedway_form.employer.$invalid && unitedway_form.employer.$touched}">
                <input
                  class="form-control"
                  name="employer"
                  type="text"
                  id="employer"
                  ng-model="obj.spouseEmployer"
                  ng-required="familyGiftFlag"
                  ng-disabled="!familyGiftFlag"
                  />
              </div>

              <div class="help-block" ng-messages="unitedway_form.employer.$error" ng-show="unitedway_form.employer.$touched">
                <div ng-messages-include="views/messages.html"></div>
              </div>
            </div>

              <div class="col-md-5">
              <label for="amount" ng-class="{'required': familyGiftFlag}"><strong>Annual Amount of his/her gift:</strong></label>
              <div class="input-group" ng-class="{'has-error': unitedway_form.amount.$invalid && unitedway_form.amount.$touched}">

                <span class="input-group-addon">$</span>
                <input
                  class="form-control"
                  name="amount"
                  type="text"
                  id="amount"
                  placeholder="US Dollars"
                  ng-model="obj.spouseAmt"
                  ng-required="familyGiftFlag"
                  ng-disabled="!familyGiftFlag"
                  />
                <!-- <span class="input-group-addon">.00</span> -->
              </div>
              <div class="help-block" ng-messages="unitedway_form.amount.$error" ng-show="unitedway_form.amount.$touched">
                <div ng-messages-include="views/messages.html"></div>
              </div>
            </div>
              </div>

              </div>
            </div>
          </div>
        </div>
            <hr>


              <strong>Fast Track Enrollment</strong>

            <p>The fast track program facilitates membership in the County Leadership Circle. An<br>

              individual commits to ascend to a predetermined giving level in three years' time.<br>

              Beginning in year one, the individual is recognized at the year three giving level.<strong><br>

              </strong><br>

             <input 
             name="fasttrackenroll" 
             type="checkbox" 
             id="fasttrackenroll" 
             ng-model="fastTrackFlag"
             />

             <label for="fasttrackenroll" ng-class="{'required': fastTrackFlag}">Enroll me in the Fast Track program</label>
           </p>

            <table width="600" border="0">

  <tr>

    <td width="40">&nbsp;</td>

    <td width="97">&nbsp;</td>

    <td colspan="2" ><strong>Year-1 Level</strong></td>

    <td colspan="2"><strong>Year-2 Level</strong></td>

    <td colspan="2"><strong>Year-3 Level</strong></td>

    </tr>

  <tr>

    <td>&nbsp;</td>

    <td><strong> Program</strong></td>

    <td width="80"><strong>Annual</strong></td>

    <td width="81"><strong>Biweekly</strong></td>

    <td width="79"><strong>Annual</strong></td>

    <td width="80"><strong>Biweekly</strong></td>

    <td width="80"><strong>Annual</strong></td>

    <td width="85"><strong>Biweekly</strong></td>

  </tr>

  <tr>

    <td>
      <input
        type="radio"
        name="fastTrack"
        id="fasttrackprogram"
        value="cornerstone"
        ng-model="obj.fastTrackPlan"
        ng-required="fastTrackFlag"
        ng-disabled="!fastTrackFlag"
        >

      <label for="fasttrackprogram"></label></td>

    <td><strong>Cornerstone</strong></td>

    <td>$500</td>

    <td>$19.23</td>

    <td>$750</td>

    <td>$28.85</td>

    <td>$1000</td>

    <td>$38.46</td>

  </tr>

  <tr>

    <td>
      <input
        type="radio"
        name="fastTrack"
        id="fasttrackprogram2"
        value="pillar"
        ng-model="obj.fastTrackPlan"
        ng-required="fastTrackFlag"
        ng-disabled="!fastTrackFlag"
        >
    </td>

    <td><strong>Pillar</strong></td>

    <td>$1000</td>

    <td>$38.46</td>

    <td>$1750</td>

    <td>$67.31</td>

    <td>$2500</td>

    <td>$96.15</td>

  </tr>

  <tr>

    <td>
      <input
        type="radio"
        name="fastTrack"
        id="fasttrackprogram3"
        value="pioneer"
        ng-model="obj.fastTrackPlan"
        ng-required="fastTrackFlag"
        ng-disabled="!fastTrackFlag"
        >

      </td>

    <td><strong>Pioneer</strong></td>

    <td>$2500</td>

    <td>$96.15</td>

    <td>$3750</td>

    <td>$144.23</td>

    <td>$5000</td>

    <td>$192.31</td>

  </tr>

  <tr>

    <td>
      <input
        type="radio"
        name="fastTrack"
        id="fasttrackprogram4"
        value="tocqueville"
        ng-model="obj.fastTrackPlan"
        ng-required="fastTrackFlag"
        ng-disabled="!fastTrackFlag"
        >
    </td>

    <td><strong>Tocqueville</strong></td>

    <td>$5000</td>

    <td>$192.31</td>

    <td>$7500</td>

    <td>$288.46</td>

    <td>$10000</td>

    <td>$384.62</td>

  </tr>

</table>


      </p>





           <div class="btm"></div>



      <div class="row">
      <div class="col-md-12">


        <hr>
            <div class="top"></div>

             <h2>Making a lasting difference</h2>

           <h5><strong>PLEASE CHOOSE HOW YOU WANT TO INVEST IN YOUR COMMUNITY</strong></h5>

           <p>When you give directly to United Way, you improve lives and make a lasting difference in our community. Please make the appropriate selection.
           </p>

        <div class="input-group">
        <input 
        type="checkbox" 
        name="unitedway" 
        id="unitedway" 
        ng-model="communityPlanFlag"
        ng-change="toggleCommunityPlan()" 
        />
        <label for="unitedway">&nbsp;UNITED WAY COMMUNITY PLAN</label>
            <p>I  want to make the most of every dollar I give!&nbsp; I want to improve lives and  make a lasting, positive difference where help is needed most in my community  by contributing to the United Way Community Plan which supports United Way&rsquo;s  efforts in Education, Financial Stability and Health.</p>
        </div>


<div class="row">
<div class="col-md-4">
                <label for="communityPlan">Percentage:</label>
                  <div class="input-group col-md-4">
                   <input
                    class="form-control"
                    type="text"
                    name="communityPlan"
                    id="communityPlan"
                    
                    maxlength="3"
                    ng-model="obj.communityPlanPercentage"
                    ng-disabled="!communityPlanFlag"
                    />
                   <span class="input-group-addon">%</span>
                 </div>
               </div>

             </div>
          </div>
        </div>
        <hr/>


          <div class="row">
          <div class="col-md-12">
        <input 
        type="checkbox" 
        name="unitedway2" 
        id="unitedway2" 
        ng-model="focusAreas"
        ng-change="toggleFocusAreas()"
        />
          <label for="unitedway2">&nbsp;I  WANT TO FOCUS MY GIFT TO ONE OR MORE OF THE FOLLOWING UNITED WAY AREAS:</label>
            </div>
          </div>


          <div class="row focus">
            <div class="minHeight col-md-4">
                 <label>EDUCATION:</label>

            <p>
              Helping  children and youth achieve their potential
            </p>

            <ul>

              <li>A quality early education that leads to school  readiness</li>

              <li>Academic achievement</li>

              <li>Productive and engaged youth</li>

            </ul>

            <label for="education">Percentage:</label>
                  <div class="input-group col-md-4">
                   <input
                    class="form-control"
                    type="text"
                    name="education"
                    id="education"
                    
                    maxlength="3"
                    ng-model="obj.educationPercentage"
                    ng-change="percentageTotal()"
                    ng-disabled="!focusAreas"
                    />
                   <span class="input-group-addon">%</span>
                 </div>
            </div>


              <div class="minHeight col-md-4">
              <label>FINANCIAL STABILITY:</label>
              <p>Paving  a path to financial independence</p>
              <ul>

                <li>Job readiness skills, training and employment  opportunities</li>

                <li>Permanent and transitional housing</li>

                <li>Financial education</li>

              </ul>

              <label for="income">Percentage:</label>
                <div class="input-group col-md-4">
                   <input
                    class="form-control"
                    type="text"
                    name="income"
                    id="income"
                    
                    maxlength="3"
                    ng-model="obj.financialStabilityPercentage"
                    ng-change="percentageTotal()"
                    ng-disabled="!focusAreas"
                    />
                   <span class="input-group-addon">%</span>
                 </div>
          </div>

              <div class="minHeight col-md-4">
            <strong>HEALTH:&nbsp;&nbsp;&nbsp;&nbsp;</strong> <label for="health"></label>

            <p>Improving  people&rsquo;s health</p>

            <ul>

              <li>Preventive health screenings</li>

              <li>Productive older adults</li>

              <li>Caregiver respite and support</li>

            </ul>

                <label for="health">Percentage:</label>
                <div class="input-group col-md-4">
                   <input
                    class="form-control"
                    type="text"
                    name="health"
                    id="health"
                    
                    maxlength="3"
                    ng-model="obj.healthPercentage"
                    ng-change="percentageTotal()"
                    ng-disabled="!focusAreas"
                     />
                   <span class="input-group-addon">%</span>
                 </div>
               </div>
             </div>


            <div class="row">
             <div class="col-md-6">

             <div 
             ng-show="total > 0 && focusAreas">
               <p>Total percentage: {{total}}</p>
             </div>

              <input
                type="hidden"
                name="percentages"
                ng-model="total"
                />

                <div class="help-block" ng-messages="unitedway_form.percentages.$error">
                  <div ng-messages-include="views/messages.html"></div>
                </div>
             </div>
            </div>

<hr/>

<div class="row">
<div class="col-md-12">
              <input
                type="checkbox"
                name="otherorg"
                id="unitedway3"
                ng-model="otherOrgFlag"
                ng-change="toggleOtherOrganizations()"
                />

              <label for="unitedway3">Other:</label>

              <p> If  you would like to designate your contribution to a specific agency in the  community or if you would like to support United Way&rsquo;s work AND also support  your agency of choice, please complete the OTHER section.&nbsp; If you&rsquo;re  splitting your gift, you will need to type in United Way Community Plan or  United Way &mdash; Focus Area on one of the lines plus the name of your agency of  choice on another line.&nbsp; </p>

              <p>For  example:<br>

                United  Way Community Plan &mdash; 50%<br>

                Agency  of choice &mdash; 50%</p>

              <p>OR</p>

              <p>United  Way &mdash; Education &mdash; 50% <br>

                 Agency of choice &mdash;  50%</p>
               </div>

             </div>


<div class="row">
  <div class="col-md-5">
  <div ng-class="{'has-error': unitedway_form.designation.$invalid && unitedway_form.designation.$touched}">
    <label for="other" ng-class="{'required': otherOrgFlag}">Organization 1</label><br>
    <input
      class="form-control"
      name="designation"
      type="text"
      id="other"
      size="50"
      ng-model="firstOrg.organization"
      ng-required="otherOrgFlag"
      ng-disabled="!otherOrgFlag"
      />
    </div>

    <div class="help-block" ng-messages="unitedway_form.designation.$error" ng-show="unitedway_form.designation.$touched">
      <div ng-messages-include="views/messages.html"></div>
    </div>


  </div>
  <div class="col-md-5">
    <label 
    for="otherpercent" 
    ng-class="{'required': otherOrgFlag}">Percentage:</label>
      <div class="input-group col-md-4" ng-class="{'has-error': unitedway_form.otherpercent.$invalid && unitedway_form.otherpercent.$touched}">
        <input
          class="form-control"
          type="text"
          name="otherpercent"
          id="otherpercent"
          maxlength="3"
          ng-required="otherOrgFlag"
          ng-model="firstOrg.percentage"
          ng-change="otherPercentageTotal()"
          ng-disabled="!otherOrgFlag"
          />
        <span class="input-group-addon">%</span>
      </div>

    <div class="help-block" ng-messages="unitedway_form.otherpercent.$error" ng-show="unitedway_form.otherpercent.$touched">
      <div ng-messages-include="views/messages.html"></div>
    </div>

  </div>
</div>


<div class="row">
  <div class="col-md-5">
  <div ng-class="{'has-error': unitedway_form.designation2.$invalid && unitedway_form.designation2.$touched}">
    <label for="other">Organization 2</label><br>
    <input
    class="form-control"
    name="designation2"
    type="text"
    id="other2"
    size="50"
    ng-model="secondOrg.organization"
    ng-disabled="!otherOrgFlag"
    />
  </div>

    <div class="help-block" ng-messages="unitedway_form.designation2.$error" ng-show="unitedway_form.designation2.$touched">
      <div ng-messages-include="views/messages.html"></div>
    </div>

  </div>
  <div class="col-md-5">
    <label for="otherpercent2">Percentage:</label>
      <div class="input-group col-md-4" ng-class="{'has-error': unitedway_form.otherpercent2.$invalid && unitedway_form.otherpercent2.$touched}">
        <input
        class="form-control"
        type="text"
        name="otherpercent2"
        id="otherpercent2"
        maxlength="3"
        ng-model="secondOrg.percentage"
        ng-change="otherPercentageTotal()"
        ng-disabled="!otherOrgFlag"
        ng-required = "secondOrg.organization != ''"
        />
        <span class="input-group-addon">%</span>
      </div>
      <div class="help-block" ng-messages="unitedway_form.otherpercent2.$error" ng-show="unitedway_form.otherpercent2.$touched">
        <div ng-messages-include="views/messages.html"></div>
      </div>
  </div>
</div>


<div class="row">
  <div class="col-md-5">
    <label for="other">Organization 3</label><br>
    <input 
      class="form-control" 
      name="designation3" 
      type="text" 
      id="other3" 
      size="50" 
      ng-model="thirdOrg.organization"
      ng-disabled="!otherOrgFlag"
      />
  </div>
  <div class="col-md-5">
    <label for="otherpercent3">Percentage:</label>
      <div class="input-group col-md-4" ng-class="{'has-error': unitedway_form.otherpercent3.$invalid && unitedway_form.otherpercent3.$touched}">
        <input
          class="form-control"
          type="text"
          name="otherpercent3"
          id="otherpercent3"
          maxlength="3"
          ng-model="thirdOrg.percentage"
          ng-change="otherPercentageTotal()"
          ng-disabled="!otherOrgFlag"
          ng-required="thirdOrg.organization != ''"
          />
        <span class="input-group-addon">%</span>
      </div>
      <div class="help-block" ng-messages="unitedway_form.otherpercent3.$error" ng-show="unitedway_form.otherpercent3.$touched">
        <div ng-messages-include="views/messages.html"></div>
      </div>
  </div>
</div>



<p> 
    <div ng-show="orgTotal > 0 && otherOrgFlag">
      <p>Total percentage: {{orgTotal}}</p>
    </div>

    <input
      type="hidden"
      name="orgPercentages"
      ng-model="orgTotal"
      ng-show="otherOrgFlag"
    />

    <div class="help-block" ng-messages="unitedway_form.orgPercentages.$error">
      <div ng-messages-include="views/messages.html"></div>
    </div>

              <input 
              type="checkbox" 
              name="additionalAgency" 
              id="additionalAgency" 
              value="Y"
              ng-disabled="!otherOrgFlag"
              ng-model="obj.additionalAgency"
              />

              <label for="additionalAgency"></label>

              I want to designate more than three agencies, please contact me<br>

              <br>

              <strong></strong></p>


            <div class="btm"></div>


            <div class="top"></div>

            <h2>Miscellaneous Information</h2>


       <input 
        name="willandestate" 
        type="checkbox" 
        id="willandestate" 
        value="Y" 
        ng-model="obj.willAndEstate"
        />
<label for="willandestate">
<strong>I have</strong> included United Way in my will and estate plans. Please contact me.<br>
  </label>
<br/>
<input 
  name="willandestateinfo" 
  type="checkbox" 
  id="willandestateinfo" 
  value="Y" 
  ng-model="obj.willAndEstateInfo"
  />
<label for="willandestateinfo">
I would like to include United Way in my will and estate plans. Please contact me.
  </label>

<br/>

              <input type="checkbox" name="loyalContributor" id="loyalContributor" value="Y" >

              <label for="loyalContributor">

            Check this box if you are a loyal contributor (giving to United Way for more than 10 years)

            </label>

       <div class="btm"></div>


             <div class="top"></div>


        <div class="text-center">
        <input
        type="button"
        class="btn btn-primary"
        name="Submit"
        id="Submit"
        value="Submit"
        ng-disabled="unitedway_form.$invalid"
        ng-click="save()"
       />
       <br/>
       <br/>
       <br/>
       <br/>
     </div>

<div class="btm"></div>


            </form>

    </div>





