<div class="copy row thanks">

      <div class="col-sm-12">


            <h2>Thank You</h2>

            <input name="employeename" type="hidden" id="employeename" value="" />

            <input name="employeelastname" type="hidden" id="employeelastname" value="" />

            <input name="employeeid" value="" type="hidden"/>

            <input name="groupid" value="unitedway" type="hidden" />

            <input type="hidden" name="employeedept"  value="" id="employeedept" />

            <p>
              <h4>{{donation.donor}}</h4>
            </p>


            <div class="row">
            <div class="col-sm-12">

            <p>Your {{donation.frequency}} contribution of {{donation.amount | currency}} is greatly appreciated. Thank you for doing your part to help improve our community! </p>
          </div>
        </div>
      </div>
</div>





